* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #1e3a8a;
  height: 6.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 17%;
}

header h1 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 800;
  line-height: 24px;
}

.content {
  width: 52%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
}

.content h1 {
  font-size: 1.87rem;
  font-weight: 900;
  line-height: 2.2rem;
  text-align: center;
}

.content img {
  width: 80%;
  margin: 0.5rem;
  padding: 0.4rem;
}

.content p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0.5rem;
}

footer {
  text-align: center;
  margin-top: 50px;
}

footer div {
  margin-bottom: 3.2rem;
  display: flex;
  gap: 0.3rem;
  justify-content: center;
}

footer div > * {
  color: #3b82f6;
  text-decoration: none;
  font-size: 0.87rem;
}

footer p {
  margin: 0.8rem 23rem;
  font-size: 0.87rem;
}

.Quiz {
  padding: 3rem 0rem 40rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  text-align: center;
}

.Quiz p {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
}

.Quiz button {
  background-color: #23c55e;
  outline: none;
  border: none;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  padding: 1rem 13rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.Quiz button:hover {
  background-color: #3ee97d;
}

.timer {
  border: 1px dashed red;
  width: max-content;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: red;
  font-weight: 400;
}

.wrapper {
  background-color: #d1d5db;
  border-top: 2.5px solid #3b82f6;
  margin-top: 3rem;
  text-align: center;
  margin: 3rem auto;
  width: 50%;
  padding: 20px 25px;
}

.result h2 {
  color: #23c55e;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.result h1 {
  font-size: 1.5rem ;
  background-color: #fef08a;
  width: 100%;
  font-weight: 700;
}
.text {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #1f2937;
}

.result h1 > span {
 font-weight: 900;
}

.result .tap{
  font-weight: 700;
  font-size: 1.3rem;
}

.result > span{
  background-color: #FEE047;
  font-weight: 700;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.result a {
  background-color: #23c55e;
  border: none;
  outline: none;
  padding: 1.5rem;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}
.result p {
  font-size: 1rem;
}

.result h3{
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {

  .result > span,.result .tap{
    font-size: 1rem;
  }

  .result a{
    padding: 1rem;
  }
  header {
    padding: 0 5%;
  }

  .content h1,
  .Quiz p,
  .Quiz button,
  .result h1,
  .result a {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .content {
    width: 90%;
  }
  .content img {
    width: 90%;
    margin: 0.3rem;
  }
  .content p {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .result h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .result {
    gap: 0.7rem;
  }
  .Quiz button {
    padding: 1.2rem 2.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  footer p {
    margin: 0.8rem 1rem;
    font-size: 0.8rem;
  }

  .result h3 {
    font-size: 1.2rem;
  }
  .result p {
    font-size: 0.75rem;
  }

  .wrapper {
    background-color: #d1d5db;
    border-top: 2.5px solid #3b82f6;
    margin-top: 3rem;
    text-align: center;
    margin: 3rem auto;
    width: 90%;
    padding: 20px 25px;
  }

  .timer {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .Quiz {
    padding: 1rem 0rem 30rem 0rem;
  }
}
